# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kshit\OneDrive - Vishwakarma Institute of Technology\Programming\Codes\python\Python_Projects\Face-Recognition-Based-Attendance-System-master-vinay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
